.hero__container {
  width: 100%;
  min-height: calc(100vh - 176px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../../../assets/images/hero.png");
  background-position: center;
  background-size: cover;
}

.hero__text,
.searcher {
  width: 95%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 55px; */
  font-size: 2rem;
}

.title {
  font-size: 2.5em;
  font-weight: 800;
}

.subtitle {
  font-size: 1.5em;
}

@media (width <= 550px) {
  .hero__text {
    font-size: 0.5rem;
  }
}

@media (width <= 890px) {
  .hero__container {
    min-height: calc(100vh - 156px);
    gap: 1.5rem;
  }
  .hero__text {
    font-size: 1rem;
  }
}

@media (width <= 940px) {
  .hero__container {
    min-height: calc(100vh - 232px);
  }
}
