<section class="policies__section" id="initial">
  <article class="polices__content">
    <h2>Preguntas frecuentes</h2>

    <ul>
      <li>
        <span> ¿Cuáles son los destinos más populares entre los viajeros?</span>
        Entre nuestros destinos más populares se encuentran Buenos Aires,
        Bariloche, las Cataratas del Iguazú y la Patagonia argentina, que
        incluye El Calafate y Ushuaia. Estos destinos ofrecen una combinación
        única de cultura, naturaleza y aventura.
      </li>
      <li>
        <span>¿Cómo puedo reservar un viaje?</span> Podés reservar un viaje con
        nuestra empresa a través de nuestro sitio web.
      </li>
      <li>
        <span>¿Ofrecen paquetes de viaje personalizados?</span> Sí, ofrecemos
        paquetes de viaje personalizados según las necesidades y el presupuesto
        que poseas.
      </li>
      <li>
        <span>¿Qué tipo de alojamiento ofrecen en sus paquetes de viaje?</span>
        Ofrecemos una variedad de opciones, desde hoteles de lujo hasta opciones
        más económicos como hostales. Nos aseguramos de seleccionar alojamientos
        que cumplan con altos estándares de calidad y comodidad.
      </li>
      <li>
        <span
          >¿Puedo solicitar servicios adicionales, como traslados al aeropuerto
          o excursiones?</span
        >
        Nuestros paquetes ya cuentan con traslados y excursiones incluídas. En
        caso de querer algo diferente, será externo al paquete adquirido
        previamente.
      </li>
      <li>
        <span>¿Qué métodos de pago aceptan?</span> Aceptamos tarjetas de
        crédito, débito y Mercado Pago
      </li>
      <li>
        <span>¿Cuánto tiempo debo reservar con anticipación?</span> Recomendamos
        reservar con la mayor anticipación posible para asegurar la
        disponibilidad deseada, especialmente durante la temporada alta y en
        destinos muy populares.
      </li>
      <li>
        <span>¿Ofrecen descuentos o promociones especiales?</span> Sí, ofrecemos
        descuentos y promociones especiales en determinadas épocas del año.
      </li>
      <li>
        <span
          >¿Cómo puedo contactar con su servicio de atención al cliente durante
          mi viaje?</span
        >
        Durante tu viaje, podés contactarnos a través de nuestro número de
        atención al cliente proporcionado en tu documentación de viaje. También
        podés comunicarte con nosotros por el formulario de contacto de nuestra
        web o a través de nuestras redes sociales.
      </li>
      <li>
        <span>¿Qué recomendaciones de seguridad tienen para los viajeros?</span>
        Les recomendamos estar atentos a sus pertenencias personales en todo
        momento y evitar llevar objetos de valor innecesarios. Es importante
        seguir las indicaciones de seguridad de las autoridades locales y
        mantenerse informado sobre las condiciones actuales del destino.
      </li>
      <li>
        <span>¿Qué debo hacer en caso de emergencia durante mi viaje?</span> Si
        enfrentas una emergencia durante tu viaje, te recomendamos comunicarte
        con nuestro equipo de atención al cliente de inmediato. Estaremos
        disponibles para brindarte asistencia y orientación. Además, es
        importante tener a mano los números de teléfono de emergencia y seguir
        las instrucciones de las autoridades pertinentes en caso de situaciones
        como desastres naturales o problemas de salud.
      </li>
    </ul>

    <p>
      Estamos comprometidos en brindarte el mejor servicio posible, así que
      podés enviarnos cualquier pregunta adicional que puedas tener antes,
      durante y después de tu viaje.
    </p>
  </article>
</section>
