<section class="aboutUs__container">
  <article class="aboutUs__content">
    <div>
      <h2>¿Quienes somos?</h2>
      <p>
        Somos Tango Viajes, una empresa enfocada en promover el turismo
        nacional.
      </p>
    </div>

    <div>
      <h2>¿Quienes somos?</h2>
      <p>
        Somos Tango Viajes, una empresa enfocada en promover el turismo
        nacional.
      </p>
    </div>

    <div>
      <h2>¿Quienes somos?</h2>
      <p>
        Somos Tango Viajes, una empresa enfocada en promover el turismo
        nacional.
      </p>
    </div>

    <div class="button__contact">
      <h3>¿Queres saber más?</h3>

      <button routerLink="../contacto">Contactános</button>
    </div>
  </article>
</section>
