<section class="summary__container">
  <h2>Resumen de tu compra</h2>

  <article class="summary__content">
    <div class="summary__left">
      <h3>Hotel Llao Llao</h3>

      <div class="summary__data">
        <p>
          Dirección: Av. Ezequiel Bustillo Km. 25, R8401 San Carlos de
          Bariloche, Río Negro
        </p>

        <p>Teléfono: 0294 44-8530</p>
      </div>

      <div>
        <p>Dos adultos</p>
        <p>7 días - 8 noches</p>
        <div>
          <p>Fechas:</p>
          xx/xx al xx/xx
        </div>
      </div>

      <button>Descargar comprobante</button>
    </div>

    <div class="summary__rigth">
      <div>
        <p>Abonaste en tu tarjeta Visa</p>
        <p>Finalizada en xxxx</p>
        <span class="price">$105.999</span>
      </div>

      <div>
        <p class="taxes">Total impuestos: $xxxxx</p>

        <p>Total abonados: $xxxxx</p>
      </div>

      <button class="summary__email--button">
        Enviar comprobante por mail
      </button>
    </div>
  </article>

  <app-most-chosen [popular]="popularArray"></app-most-chosen>
</section>
