<section class="summary__container" *ngIf="trip">
  <h2>Resumen de tu compra</h2>

  <article class="summary__content">
    <div class="summary__left">
      <h3>{{ trip.hotel.title }}</h3>

      <div class="summary__data">
        <p>Dirección: {{ trip.hotel.direccion }}</p>

        <p>Teléfono: 0294 44-8530</p>
      </div>

      <div>
        <p>{{ trip | optionFilter }}</p>
        <p>{{ trip.hotel.estadia }}</p>
        <div>
          <p>Fechas:</p>
          {{ trip.arrival | date : "shortDate" }} al
          {{ trip.arrival | dateTransform | date : "shortDate" }}
        </div>
      </div>

      <button (click)="createPdf()">Descargar comprobante</button>
    </div>

    <div class="summary__rigth">
      <div>
        <p>Abonaste en tu tarjeta Visa</p>
        <p>Finalizada en {{ cardNumber }}</p>
        <span class="price">{{ trip.price | currency : "" : "$" }}</span>
      </div>

      <div>
        <p class="taxes">
          Total impuestos: {{ trip.price * 0.21 | currency : "" : "$" }}
        </p>

        <p>Total abonados: {{ trip.price * 1.21 | currency : "" : "$" }}</p>
      </div>

      <button class="summary__email--button" (click)="envioCorreo()">
        Enviar comprobante por mail
      </button>
    </div>
  </article>
</section>
<app-most-chosen [popular]="popularArray"></app-most-chosen>
