<section>
  <article>
    <h2>Te damos la bienvenida</h2>
    <form class="form__auth">
      <input type="text" name="" id="" placeholder="Usuario" />
      <input type="text" name="" id="" placeholder="Contraseña" />
      <button>Iniciar Sesión</button>
    </form>

    <div class="auth__buttons">
      <button>Ingresar con Google</button>
      <button>Ingresar con Facebook</button>
    </div>

    <p>¿No tenes cuenta?</p>

    <button class="auth__register">Registrate aquí</button>
  </article>
</section>
