<section class="policies__section">
  <h2>Políticas de privacidad de Tango Viajes</h2>

  <p>
    <b>Recopilación de información:</b> Tango Viajes recopilará información
    personal del cliente, como nombre, dirección, número de teléfono, dirección
    de correo electrónico y detalles de pago, con el propósito de procesar las
    reservas de viajes y brindar los servicios solicitados.
  </p>

  <p>
    <b>Uso de la información:</b> La información personal recopilada se
    utilizará exclusivamente para los fines relacionados con la compra y
    provisión de los servicios de viaje. Esto incluye la confirmación de
    reservas, comunicación sobre el itinerario, envío de actualizaciones
    relacionadas con el viaje y facilitar la comunicación entre el cliente y los
    proveedores de servicios.
  </p>

  <p>
    <b>Protección de datos: </b> Desde Tango Viajes implementamos medidas de
    seguridad adecuadas para proteger la información personal del cliente contra
    pérdida, acceso no autorizado, divulgación, alteración o destrucción. Esto
    puede incluir el uso de tecnologías de cifrado, firewalls y procedimientos
    de seguridad física.
  </p>

  <p>
    <b>Compartir información con terceros</b>: Tango Viajes puede compartir la
    información personal del cliente con proveedores de servicios como
    aerolíneas, hoteles y agencias de turismo, únicamente con el propósito de
    facilitar la reserva y la prestación de los servicios de viaje. Estos
    terceros están obligados a cumplir con las leyes de protección de datos
    aplicables.
  </p>

  <p>
    <b>Comunicaciones de marketing:</b> Tango Viajes puede utilizar la dirección
    de correo electrónico proporcionada por el cliente para enviar
    comunicaciones de marketing relacionadas con viajes y promociones. El
    cliente tiene la opción de optar por no recibir este tipo de comunicaciones
    en cualquier momento.
  </p>

  <p>
    <b>Derechos del cliente:</b> El cliente tiene derecho a acceder, corregir o
    eliminar su información personal proporcionada a Tango Viajes. También tiene
    derecho a solicitar la limitación del procesamiento de sus datos personales
    en determinadas circunstancias.
  </p>

  <p>
    <b>Retención de datos:</b> Tango Viajes retendrá la información personal del
    cliente durante el tiempo necesario para cumplir con los fines para los que
    se recopiló, a menos que se requiera o permita una retención más prolongada
    por ley.
  </p>

  <p>
    <b>Cambios en la política de privacidad:</b> Tango Viajes se reserva el
    derecho de modificar esta política de privacidad en cualquier momento.
    Cualquier cambio se notificará en el sitio web y se aplicará a partir de la
    fecha de actualización indicada.
  </p>
</section>
