<section class="conditions__container">
  <h2>Términos y condiciones de Tango Viajes</h2>

  <ol>
    <li>
      Aceptación de los términos y condiciones: Al realizar una compra en
      nuestro sitio web, el cliente acepta de manera plena y sin reservas los
      siguientes términos y condiciones.
    </li>
    <li>
      Información del viaje: Tango Viajes se compromete a proporcionar
      información precisa y actualizada sobre los destinos, itinerarios, fechas,
      precios y servicios incluidos en cada viaje.
    </li>
    <li>
      Reservas y pagos: Para reservar un viaje, el cliente deberá completar el
      proceso de compra en nuestro sitio web y realizar el pago correspondiente.
      Los precios y condiciones de pago estarán claramente indicados en la
      página de cada producto.
    </li>
    <li>
      Confirmación de la reserva: Una vez recibido el pago, se enviará al
      cliente una confirmación de reserva por correo electrónico, que incluirá
      los detalles del viaje y los servicios contratados.
    </li>
    <li>
      Cancelaciones y modificaciones: Las cancelaciones o modificaciones de las
      reservas estarán sujetas a las políticas de cancelación y modificación
      establecidas para cada viaje. Estas políticas estarán claramente
      especificadas en la página de cada producto y podrán variar según el
      proveedor de servicios.
    </li>
    <li>
      Responsabilidad de Tango Viajes: Actuamos como intermediario entre el
      cliente y los proveedores de servicios (aerolíneas, hoteles, agencias de
      turismo, etc.). No nos hacemos responsables por cualquier cambio,
      cancelación, retraso, pérdida o daño que pueda ocurrir durante el viaje,
      ya que estas situaciones están fuera de nuestro control.
    </li>
    <li>
      Responsabilidad del cliente: El cliente es responsable de proporcionar
      información precisa y completa al momento de realizar la reserva. También
      es responsable de cumplir con los requisitos de documentación, visados y
      vacunación necesarios para viajar dentro de Argentina.
    </li>
    <li>
      Protección de datos personales: Desde Tango nos comprometemos a proteger
      la privacidad de los datos personales del cliente y a cumplir con la
      normativa vigente sobre protección de datos. Los datos proporcionados por
      el cliente serán utilizados únicamente para procesar la reserva y
      comunicarse con el cliente en relación con el viaje.
    </li>
    <li>
      Propiedad intelectual: Todos los contenidos del sitio web, incluyendo
      textos, imágenes, logotipos y diseños, están protegidos por derechos de
      propiedad intelectual y no pueden ser utilizados sin autorización previa.
    </li>
    <li>
      Ley aplicable y jurisdicción: Estos términos y condiciones se rigen por
      las leyes de Argentina. En caso de controversia, las partes se someterán a
      la jurisdicción de los tribunales competentes de Argentina.
    </li>
  </ol>
</section>
