<section class="travell__container">
  <article class="travell__content" *ngIf="trip; else loading">
    <img [src]="trip.image" alt="" />

    <div class="travell__info">
      <div class="travell__info--left">
        <div>
          <h2>{{ trip.hotel.title }}</h2>
          <p><b>Dirección:</b> {{ trip.hotel.ubicacion }}</p>
          <p><b>Teléfono:</b> {{ trip.hotel.contact }}</p>
        </div>

        <div>
          <p>{{ trip.hotel.description }}</p>

          <p>Servicios en la habitación:</p>
          <ul>
            <li *ngFor="let item of trip.hotel.items">{{ item }}</li>
          </ul>
        </div>
      </div>

      <div class="travell__info--rigth">
        <div class="text__rigth">
          <p>{{ trip | optionFilter }}</p>
          <p>{{ trip.hotel.estadia }}</p>
          <p>Fechas:</p>
          <p>
            {{ trip.arrival | date : "shortDate" }} al
            {{ trip.arrival | dateTransform | date : "shortDate" }}
          </p>
        </div>

        <div>
          <p class="price">{{ trip.price | currency : "" : "$" }}</p>
          <p class="taxes">No incluye impuestos</p>
        </div>

        <button [routerLink]="'../../pago/' + trip.id">
          Continuar con la compra
        </button>
      </div>
    </div>
  </article>
</section>

<ng-template #loading class="loading">
  <app-loading></app-loading>
</ng-template>
