.searcher__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons__container {
  align-self: flex-start;
}

.searcher__button {
  padding: 1.5rem 3rem;
  border: none;
  border: 1px solid var(--border-color);
  border-radius: 10px 10px 0 0;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  font-weight: bold;
}

.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.form__searcher {
  width: 100%;
}

@media (width <= 890px) {
  .searcher__container {
    padding-bottom: 1.5rem;
  }
  .buttons__container {
    align-self: center;
  }
  .form__searcher {
    justify-content: center;
    margin: 0 auto;
  }
}
