<section class="searcher__container">
  <article class="buttons__container">
    <button
      class="searcher__button"
      (click)="selectedOption = 'avion'"
      [ngClass]="{ active: selectedOption === 'avion' }"
    >
      En avión
    </button>
    <button
      class="searcher__button"
      (click)="selectedOption = 'micro'"
      [ngClass]="{ active: selectedOption === 'micro' }"
    >
      En micro
    </button>
    <button
      class="searcher__button"
      (click)="selectedOption = 'ferrocarril'"
      [ngClass]="{ active: selectedOption === 'ferrocarril' }"
    >
      En tren
    </button>
  </article>

  <div class="form__searcher">
    <app-form-searcher (data)="viewData($event)"></app-form-searcher>
  </div>
</section>
