/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
  --primary-color: rgba(7, 72, 74, 0.8) !important;
  --secondary-color: #f9d9da !important;
  --border-color: #979797;
  --text-color-secondary: #ffffff !important;
  --text-color-black: #000 !important;
  --header-color: #07484a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

a,
button {
  cursor: pointer;
}
