<section class="travells__container">
  <article
    class="travells__left"
    *ngIf="screenWidth > 1000; else buttonCategories"
  >
    <h2>Encontrá tu destino</h2>

    <div class="travells__filter--provinces">
      <h3>Filtrar por provincia</h3>

      <div class="form__container">
        <p
          class="item__option"
          *ngFor="let option of options"
          (click)="selectOption(option.value)"
        >
          {{ option.name }}
        </p>
      </div>
    </div>

    <div>
      <h3>Filtrar por precios</h3>
      <p>{{ formRange.value.to | currency : "" : "$" }}</p>
      <form [formGroup]="formRange" class="slider">
        <input
          type="range"
          formControlName="to"
          min="0"
          max="1000000"
          (change)="onRangeChange(formRange.value)"
          [title]="formRange.value.to | currency : '' : '$'"
          class="level"
        />
      </form>
    </div>

    <div>
      <h3>Filtrar por cantidad</h3>

      <div class="form__container">
        <p
          class="item__option"
          *ngFor="let option of options2"
          (click)="selectOption2(option)"
        >
          {{ option.name }}
        </p>
      </div>
    </div>
  </article>

  <article class="travells__rigth">
    <div class="travells__card" *ngIf="travellsArray; else loading">
      <p *ngIf="travellsArray.length === 0">No se encontraron coincidencias</p>
      <app-cards-travells
        *ngFor="let card of travellsArray"
        [travell]="card"
      ></app-cards-travells>
    </div>
  </article>
</section>

<app-most-chosen [popular]="popularArray"></app-most-chosen>

<ng-template #loading class="loading">
  <app-loading style="height: 100%"></app-loading>
</ng-template>

<ng-template #buttonCategories>
  <p-button
    (click)="showDialog()"
    icon="pi pi-external-link"
    label="Ver categorías"
    [style]="{
      background: '#F9D9DA',
      border: 'none',
      color: '#000',
      boxshadow: '0px 4px 4px rgba(0, 0, 0, 0.25)',
      fontsize: '1.5rem',
      fontweight: 'bold',
      padding: '1rem 2rem',
    }"
  ></p-button>
</ng-template>

<p-dialog header="Categorías" [(visible)]="visible" [style]="{ width: '95vw' }">
  <div class="travell__container--mobile">
    <h2>Encontrá tu destino</h2>

    <div class="travells__filter--provinces">
      <h3>Filtrar por provincia</h3>

      <div class="form__container">
        <p
          class="item__option"
          *ngFor="let option of options"
          (click)="selectOption(option.value)"
        >
          {{ option.name }}
        </p>
      </div>
    </div>

    <div>
      <h3>Filtrar por precios</h3>
      <p>{{ formRange.value.to | currency : "" : "$" }}</p>
      <form [formGroup]="formRange" class="slider">
        <input
          type="range"
          formControlName="to"
          min="0"
          max="1000000"
          (change)="onRangeChange(formRange.value)"
          [title]="formRange.value.to | currency : '' : '$'"
          class="level"
        />
      </form>
    </div>

    <div>
      <h3>Filtrar por cantidad</h3>

      <div class="form__container">
        <p
          class="item__option"
          *ngFor="let option of options2"
          (click)="selectOption2(option)"
        >
          {{ option.name }}
        </p>
      </div>
    </div>
  </div>
</p-dialog>
