<section class="policies__section">
  <article class="polices__content">
    <h2>Políticas de Compra</h2>

    <p>
      Desde Tango Viajes nos esforzamos por ofrecer a nuestros clientes una
      experiencia de viaje excepcional y transparente. Para garantizar una
      compra segura y satisfactoria, hemos establecido las siguientes políticas:
    </p>

    <h3>Reservas y Compra de Viajes:</h3>

    <ol>
      <li>
        Reservas: Podés realizar tus reservas a través de nuestro sitio web. Te
        recomendamos reservar con la mayor antelación posible para asegurar la
        disponibilidad deseada.
      </li>
      <li>
        Confirmación: Una vez que hayas realizado tu reserva, te enviaremos una
        confirmación por correo electrónico que incluirá los detalles del viaje,
        como fechas, destinos, alojamiento y servicios adicionales
        seleccionados.
      </li>
      <li>
        Pago: Para garantizar tu reserva, requerimos el pago total del valor del
        paquete. Aceptamos tarjetas de crédito, débito y Mercado Pago.
      </li>
      <li>
        Precios: Los precios de nuestros paquetes de viaje están sujetos a
        cambios y se basan en factores como la temporada, la disponibilidad y
        los servicios incluidos. Te informaremos sobre cualquier cambio de
        precio antes de confirmar tu reserva.
      </li>
      <li>
        Impuestos y Cargos: Nuestros precios pueden incluir impuestos y cargos
        adicionales. Te proporcionaremos un desglose detallado de los costos
        antes de realizar el pago.
      </li>
    </ol>

    <h3>Seguridad y Protección al Cliente:</h3>

    <ol>
      <li>
        Seguridad del Pago: Utilizamos sistemas de pago seguros y encriptados
        para garantizar la protección de tu información financiera.
      </li>
      <li>
        Atención al Cliente: Nuestro equipo de servicio al cliente está
        disponible para brindarte asistencia antes, durante y después de tu
        viaje. Contactanos si tenés alguna pregunta, inquietud o necesitas ayuda
        adicional.
      </li>
      <li>
        Responsabilidad: Nos esforzamos por trabajar con proveedores de
        confianza y garantizar la calidad de los servicios que ofrecemos. Sin
        embargo, no nos hacemos responsables de situaciones que estén fuera de
        nuestro control, como cambios en las políticas gubernamentales,
        condiciones climáticas u otros eventos imprevistos.
      </li>
    </ol>

    <p>
      Estas políticas de compra de viajes están diseñadas para ofrecerte
      claridad y tranquilidad al reservar con nuestra empresa. Te recomendamos
      leer detenidamente todas las políticas aplicables a tu reserva específica
      y no dudes en contactarnos si tienes alguna pregunta o necesitas más
      información.
    </p>
  </article>
</section>
