<article>
  <h2>¡Qué bueno verte por acá!</h2>

  <p>Para registrarte, es necesario que completes los siguientes datos:</p>

  <picture>
    <img [src]="imageDefault" alt="" width="200" />
  </picture>

  <form class="form__auth" [formGroup]="registerForm" (ngSubmit)="register()">
    <input
      type="email"
      placeholder="Correo electrónico"
      formControlName="email"
    />
    <input
      type="text"
      name=""
      id=""
      placeholder="Contraseña"
      formControlName="password"
    />
    <input type="text" placeholder="Nombre" formControlName="name" />
    <input type="text" placeholder="Apellido" formControlName="lastname" />
    <input type="text" name="" id="" placeholder="DNI" formControlName="dni" />
    <input
      type="text"
      placeholder="Foto de perfil"
      formControlName="profile_picture"
    />

    <button type="submit" [disabled]="registerForm.invalid">Registrate</button>
  </form>

  <div class="auth__buttons">
    <button>Registrarse con Google</button>
    <button>Registrarse con Facebook</button>
  </div>

  <p>¿Tienes cuenta?</p>

  <button class="auth__register" routerLink="">Inicia sesión aquí</button>
</article>
