footer {
  width: 100%;
  min-height: 200px;
  background-color: var(--header-color);
  color: var(--text-color-secondary);
}

.footer__container {
  width: 95%;
  max-width: 1400px;
  min-height: 430px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__redes {
  display: flex;
  gap: 2rem;
}

i {
  font-size: 25px;
  cursor: pointer;
}

.footer__contact {
  gap: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__title {
  font-weight: 800;
  font-size: 1.7rem;
}

.footer__subtitle {
  font-weight: bold;
}

.copy {
  text-align: center;
  padding: 1rem 0;
}

.click {
  cursor: pointer;
}

a {
  color: var(--text-color-secondary);
}

@media (width <= 1000px) {
  .myAccount__content {
    display: none;
  }

  .categories__content {
    display: none;
  }
}

@media (width <= 650px) {
  .footer__container {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 3rem 0;
  }

  .contact {
    text-align: left;
  }

  .myAccount__content {
    display: none;
  }

  .categories__content {
    display: none;
  }
}
